.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

# Log file
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
/images/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/