<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Gráficos Sub-Familia</title>

    <!-- Favicons -->
    <link href="../img/favicon.png" rel="icon">
    <link href="../img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/style-responsive.css" rel="stylesheet">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

    <!-- =======================================================
      Template Name: Dashio
      Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
      Author: TemplateMag.com
      License: https://templatemag.com/license/
    ======================================================= -->
</head>

<body>
<section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="/index" class="logo"><b>TECH<span>ALQUILER</span></b></a>
        <!--logo end-->
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="/login?logout"> Cerrar Sesión </a></li>
            </ul>
        </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
                <p class="centered"><a href="/index"><img src="../img/user-icon.png" class="img-circle" width="80"></a></p>
                <h5 th:text="${username}" class="centered"></h5>
                <li class="mt">
                    <a href="/usuarios">
                        <i class="fa fa-users"></i>
                        <span th:text="#{menu.usuarios}"></span>
                    </a>
                </li>
                <li>
                    <a href="/clientes">
                        <i class="fa fa-handshake-o"></i>
                        <span th:text="#{menu.clientes}"></span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-desktop"></i>
                        <span th:text="#{menu.equipos}"></span>
                    </a>
                    <ul class="sub">
                        <li><a th:text="#{menu.equipos.agregar}" href="/equipos/registrar"></a></li>
                        <li><a th:text="#{menu.equipos.catalogo}" href="/equipos/catalogo"></a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-percent"></i>
                        <span th:text="#{menu.alquileres}"> Alquileres </span>
                    </a>
                    <ul class="sub">
                        <li><a th:text="#{menu.alquileres.crear-factura}" href="/alquiler/registrar"></a></li>
                        <li><a th:text="#{menu.alquileres.lista-facturas}" href="/alquiler/listasFacturas"> Lista de Facturas </a></li>
                        <li><a th:text="#{menu.alquileres.equipos-alquiler}" href="/alquiler/equiposRentados"> Equipos en Alquiler</a></li>
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class=" fa fa-bar-chart-o"></i>
                        <span th:text="#{menu.graficos}"></span>
                    </a>
                    <ul class="sub">
                        <li><a th:text="#{menu.graficos.promedios-familia}" href="/graficos/familias"></a></li>
                        <li><a th:text="#{menu.graficos.promedios-subfamilia}" href="/graficos/subfamilias"></a></li>
                    </ul>
                </li>
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper site-min-height">
            <h3><i class="fa fa-angle-right"></i> Promedios por Sub-Familia</h3>
            <div class="row mt">
                <div class="col-lg-12">
                    <div id="grafico-subfamilias" style="height: 250px;">

                    </div>


                </div>
            </div>
        </section>
        <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
        <div class="text-center">
            <p>
                &copy; Copyrights <strong>Dashio</strong>. All Rights Reserved
            </p>
            <div class="credits">
                <!--
                  You are NOT allowed to delete the credit link to TemplateMag with free version.
                  You can delete the credit link only if you bought the pro version.
                  Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/dashio-bootstrap-admin-template/
                  Licensing information: https://templatemag.com/license/
                -->
                Created with Dashio template by <a href="https://templatemag.com/">TemplateMag</a>
            </div>
            <a href="blank.html#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    <!--footer end-->
</section>
<!-- js placed at the end of the document so the pages load faster -->
<script src="../lib/jquery/jquery.min.js"></script>
<script src="../lib/bootstrap/js/bootstrap.min.js"></script>
<script src="../lib/jquery-ui-1.9.2.custom.min.js"></script>
<script src="../lib/jquery.ui.touch-punch.min.js"></script>
<script class="include" type="text/javascript" src="../lib/jquery.dcjqaccordion.2.7.js"></script>
<script src="../lib/jquery.scrollTo.min.js"></script>
<script src="../lib/jquery.nicescroll.js" type="text/javascript"></script>
<!--common script for all pages-->
<script src="../lib/common-scripts.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<script>
    var request = new XMLHttpRequest();
    request.open('GET', "http://localhost:8080/rest/subfamilias", true);
    request.onload = function() {
        if (request.status >= 200 && request.status < 400) {
            var data = JSON.parse(request.responseText);
            new Morris.Bar({
                // ID of the element in which to draw the chart.
                element: 'grafico-subfamilias',
                // Chart data records -- each entry in this array corresponds to a point on
                // the chart.
                data: data,
                // The name of the data record attribute that contains x-values.
                xkey: 'subfamilia',
                // A list of names of data record attributes that contain y-values.
                ykeys: ['promedio'],
                // Labels for the ykeys -- will be displayed when you hover over the
                // chart.
                labels: ['Promedio'],
                barRatio: 0.4,
                hideHover: 'auto',
                barColors: ['#fdfa72']
            });
            // Success!
        } else {
            // We reached our target server, but it returned an error
            console.log("Hubo un error tras recibir el JSON");
        }
    };
    request.onerror = function() {
        // There was a connection error of some sort
        console.log("Hubo un error de conexion");
    };
    request.send();
</script>
<!--script for this page-->

</body>

</html>
